

# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: frontend-ingress
#   namespace: default
#   annotations:
#     kubernetes.io/ingress.class: "nginx-utils"
#     nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
#     # nginx.ingress.kubernetes.io/ssl-redirect: "true"
# spec:
#   ingressClassName: nginx-utils
#   rules:
#   - host:   a015d4e20723240ecbabc8fbd31a67c1-1592153889.us-east-1.elb.amazonaws.com #  load balancer url 
#     http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: frontend-service
#             port:
#               number: 80

                  


---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress-local
  namespace: default
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: minikube.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-service
            port:
              number: 80
